<h2>Log Into Your Account</h2><br>

<form action='/sessions/login' method='post'>
  <p>Enter username: <input type='text' name='username'></p><br>
  <p>Enter password: <input type='password' name='password'></p><br>
  <input type='submit' value='Login'>
</form>