<h1><%=current_user.username%>'s Binder</h1><br>

<h2>Your Folders</h2><br>

<%if current_user.folders.empty?%>
  <p> This binder does not currently contain any folders!</p>
<%else%>
  <ul>
    <%current_user.folders.each do |folder|%>
      <li>- <a href="/folders/<%=folder.id%>"><%=folder.name%></a></li><br>
    <%end%>
  </ul><br>
<%end%>

<form action='/folders/new' method='get'>
  <input type='submit' value='Create New Folder'>
</form><br>
<br>
<p>To view a list of all your virtual pieces:
  <form action='/pieces' method='get'>
    <input type='submit' value='List Pieces'>
  </form>
</p>
<br>
<form action='/logout' method='get'>
  <input type='submit' value='Log Out'>
</form>
