<h1><%=current_user.username%>'s Binder</h1><br>

<h2>Folders:</h2><br>

<%Folder.all.each do |folder|%>
  <%if folder.user_id == @user.id%>
    <p>- <a href='/folders/<%folder.id%>'><%=folder.name%></a></p>
  <%end%>
<%end%>

<form action='folders/new' method='get'>
  <input type='submit' value='Create Folder'>
</form><br>

<form action='sessions/logout' method='get'>
  <input type='submit' value='Log Out'>
</form>


