<h1><%=@user.username%>'s Binder</h1><br>

<h2>Folders:</h2><br>

<%Folder.all.each do |folder|%>
<%binding.pry%>
  <%if folder.user_id == @user.id%>
    <p><%=folder.name%></p>
  <%end%>
<%end%>

<form action='folders/new' method='get'>
  <input type='submit' value='Create Folder'>
</form><br>

<form action='sessions/logout' method='get'>
  <input type='submit' value='Log Out'>
</form>


