<h1><%=current_user.username%>'s Binder</h1><br>
<h2>Create a New Folder</h2><br>
<form action='/folders' method='post'>
  <p>Name Your New Folder: <input type='text' name='name'></p>
  <input type='submit' value='Create Folder'>
</form>