<h2>Create Your Account</h2><br>

<form action='/users/signup' method='post'>
  <p>Enter username: <input type='text' name='username'></p><br>
  <p>Enter email: <input type='text' name='email'></p><br>
  <p>Enter password: <input type='text' name='password'></p><br>
  <input type='submit' value='Create account'>
</form>