<h1><%=current_user.username%>'s Binder</h1><br>

<h2>Your Pieces:</h2><br>

<ul>
  <%Piece.all.each do |piece|%>
    <%if piece.user_id == current_user.id%>
      <li>- <a href="/pieces/<%=piece.id%>"><%=piece.title%></a><br></li>
    <%end%>
  <%end%>
</ul>

<form action='pieces/new' method='get'>
  <input type='submit' value='Create New Piece'>
</form><br>

<form action='sessions/logout' method='get'>
  <input type='submit' value='Log Out'>
</form>