<h1><%=current_user.username%>'s Binder</h1><br>

<h2>Pieces:</h2><br>

<%Piece.all.each do |piece|%>
  <a href="/pieces/<%=piece.id%>">- <%=piece.title%></a><br>
<%end%>

<form action='pieces/new' method='get'>
  <input type='submit' value='Create Piece'>
</form><br>

<form action='sessions/logout' method='get'>
  <input type='submit' value='Log Out'>
</form>