<h1><%=current_user.username%>'s Binder</h1><br>

<h2>Your Pieces:</h2><br>

<%if @pieces.empty?%>
  <p> This binder does not currently contain any pieces!</p>
<%else%>
  <ul>
    <%@pieces.each do |piece|%>
      <li>- <a href="/pieces/<%=piece.id%>"><%=piece.title%></a></li><br>
    <%end%>
  </ul>
<%end%>

<form action='/pieces/new' method='get'>
  <input type='submit' value='Create New Piece'>
</form><br>

<form action='/folders' method='get'>
  <input type='submit' value='Return to Binder'>
</form><br>