<h1><%=current_user.username%>'s Binder</h1><br>
<h2>Create a New Piece</h2><br>

<form action='/pieces' method='post'>
  
  <p>Title of Piece (required): <input type='text' name='title'></p><br>
  <p>Composer (required): <input type='text' name='composer'><br>
  <br>
  <p>Title of Larger Work: <input type='text' name='from_work'></p><br>
  <p>Premiere / Copyright Year: <input type='text' name='year'></p><br>
  <p>Librettist / Lyricist: <input type='text' name='lyricist'></p><br>
  <p>Genre: <input type='text' name='genre'></p><br>
  <p>Language: <input type='text' name='language'></p><br>
  <p>Translation: <input type='text' name='translation'></p><br>

  <input type='submit' value='Create Piece'>
</form>

<br>
<form action='/pieces' method='get'>
  <input type='submit' value='Return to Piece List'>
</form>