<h1>Welcome to Virtual Music Binder!</h1><br>
<h3>Your one-stop shop for organizing and viewing your electronic sheet music resources</h3><br>

<form action='/users/signup' method='get'>
  <p><input type='submit' value='Sign Up'> to create a new account</p>
</form>
<p>   or</p>
<form action='/sessions/login' method='get'>
  <p><input type='submit' value='Log In'> to return to an existing account</p>
</form>